<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>created task</title>
    <style>
       

        .task_button
        {
            border: none;

        }

        .tasks
        {
            /* height:250px; */
            width:250px;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            /* align-items: center; */
        }

        .buttons
        {
            display: flex;
            justify-content: space-evenly;

        }
        
    </style>
</head>
<body>
    


here all task create
<br><br><br><br>



<button class="task_button">Click here to  show tasks</button>
<br><br>




<div class="tasks">


    <div class="task">

            <h3><%= filename %></%filename></h3>
            <p><%= content %></p>
    </div>

    

    

</div>






</body>
</html>