<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>created task</title>
    <style>
       

        .tasks
        {
            border: none;

        }
    </style>
</head>
<body>
    


here all task create
<br><br><br><br>
<div class="task_div">


<input type="submit" class="">


</div>


</body>
</html>