<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>created task</title>
    <style>
        .task_div
        {
            /* border: 2px solid orange; */
            /* height: 40px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content:space-evenly; */
           
        }

        .tasks
        {
            border: vis;

        }
    </style>
</head>
<body>
    


here all task create
<br><br><br><br>
<div class="task_div">





</div>


</body>
</html>