<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create your task</title>

</head>
<body>

<form action="/" method="post" name="text_data">

    <h3>create your task</h3>
    <textarea name="task_data" class="textarea"></textarea><br>
    <button>create</button>

</form>
    
<br><br><br>
</body>
</html>