<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create hisaab</title>
</head>
<body>
    <center>
    <h6><u>Khatabook</u></h6>
    <h5>All hisab kitab</h5>


    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">

</center>

</body>
</html>