


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reading of the files</title>
</head>
<body>
    
<% dataofiles.forEach(function(data){%>
 data can hold only name of the file now because of not using the parameters like - req,params 
    <h1><%= data%></h1>
    <a href="/edit/<%= data %>">edit</a>

<% })%>

</body>
</html>