<!DOCTYPE html>
<html>
<head>
  
<title>Resume Builder</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="/css/resume.css">

</head>

<body>

<form class="container" action="/generate" method="POST" enctype="multipart/form-data">
  
<h1 style="text-align: center;">Create Resume</h1>

<h2>Upload Profile </h2>
<input type="file" id="photoInput" name="photo">

<h2>Personal Info</h2>
<input type="text" id="fullName" name="fullName" placeholder="Full Name" maxlength="20" required>
<input type="tel" id="phone" name="phone" placeholder="Phone" maxlength="10" required>
<input type="text" id="address" name="address" placeholder="Address" maxlength="50" required>
<input type="email" id="email" name="email" placeholder="Email" maxlength="35" required>
<input type="url" id="linkedin" name="linkedin" placeholder="LinkedIn Profile" maxlength="50" required>
<input type="url" id="github" name="github" placeholder="GitHub Profile" maxlength="50" required>


<!-- EDUCATION -->
<h2>Education</h2>
<div id="educationContainer"></div>
<button type="button" class="add-btn" onclick="addEducation()">+ Add Education</button>

<!-- SKILLS -->
<h2>Skills</h2>
<div id="skillsContainer"></div>
<button type="button" class="add-btn" onclick="addSkill()">+ Add Skill</button>

<!-- EXPERIENCE -->
<h2>Experience</h2>
<div id="experienceContainer"></div>
<button type="button"class="add-btn" onclick="addExperience()">+ Add Experience</button>

<!-- PROJECTS -->
<h2>Projects</h2>
<div id="projectContainer"></div>
<button type="button" class="add-btn" onclick="addProject()">+ Add Project</button>

<!-- INTERNSHIP -->
<h2>Internships</h2>
<div id="internshipContainer"></div>
<button type="button" class="add-btn" onclick="addInternship()">+ Add Internship</button>

<!-- CERTIFICATE -->
<h2>Certificates</h2>
<div id="certificateContainer"></div>
<button type="button" class="add-btn" onclick="addCertificate()">+ Add Certificate</button>

<!-- HOBBIES -->
<h2>Hobbies</h2>
<div id="hobbyContainer"></div>
<button type="button" class="add-btn" onclick="addHobby()">+ Add Hobby</button>

<!-- LANGUAGES -->
<h2>Preferred Languages</h2>
<div id="languageContainer"></div>
<button type="button" class="add-btn" onclick="addLanguage()">+ Add Language</button>

<br><br>

<button type="submit" style="
background:#06c8d2dd;
color:white;
padding:12px;
border:none;
border-radius:6px;
width:100%;
font-size:16px;
cursor:pointer;
">
Generate Resume
</button>

</form>

<!-- PREVIEW -->
<div class="preview">
 
 <h1 id="previewName"></h1>
<div class="header">
  <div class="left-header">
   
    <div class="contact">
      <div> <span id="previewPhone"></span></div>
      <div> <span id="previewAddress"></span></div>
      <div><span id="previewEmail"></span></div>
      <div> <span id="previewLinkedin"></span></div>
      <div> <span id="previewGithub"></span></div>
      
    </div>
  </div>
  <img id="photoPreview">
</div>

<div id="educationSection" style="display:none;">
  <div class="section-title">Education</div>
  <div id="previewEducation"></div>
</div>

<div id="skillsSection" style="display:none;">
  <div class="section-title">Skills</div>
  <ul id="previewSkills"></ul>
</div>

<div id="experienceSection" style="display:none;">
  <div class="section-title">Experience</div>
  <div id="previewExperience"></div>
</div>

<div id="projectSection" style="display:none;">
  <div class="section-title">Projects</div>
  <div id="previewProjects"></div>
</div>

<div id="internshipSection" style="display:none;">
  <div class="section-title">Internships</div>
  <div id="previewInternships"></div>
</div>

<div id="certificateSection" style="display:none;">
  <div class="section-title">Certificates</div>
  <ul id="previewCertificates"></ul>
</div>

<div id="hobbySection" style="display:none;">
  <div class="section-title">Hobbies</div>
  <ul id="previewHobbies"></ul>
</div>


<div id="languageSection" style="display:none;">
  <div class="section-title">Preferred Languages</div>
  <ul id="previewLanguages"></ul>
</div>

</div>

<script>

</script>
</body>
</html>