<!-- EDUCATION -->
<div id="educationSection" style="display:none;">
  <div class="section-title">Education</div>
  <div id="previewEducation"></div>
</div>

<!-- SKILLS -->
<div id="skillsSection" style="display:none;">
  <div class="section-title">Skills</div>
  <ul id="previewSkills"></ul>
</div>

<!-- PROJECTS -->
<div id="projectSection" style="display:none;">
  <div class="section-title">Projects</div>
  <div id="previewProjects"></div>
</div>

<!-- INTERNSHIP -->
<div id="internshipSection" style="display:none;">
  <div class="section-title">Internships</div>
  <div id="previewInternships"></div>
</div>

<!-- CERTIFICATE -->
<div id="certificateSection" style="display:none;">
  <div class="section-title">Certificates</div>
  <ul id="previewCertificates"></ul>
</div>

<!-- HOBBIES -->
<div id="hobbySection" style="display:none;">
  <div class="section-title">Hobbies</div>
  <ul id="previewHobbies"></ul>
</div>

<!-- LANGUAGE -->
<div id="languageSection" style="display:none;">
  <div class="section-title">Preferred Languages</div>
  <ul id="previewLanguages"></ul>
</div>