<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slash</title>
</head>
<body>
    
    <h1>type your task</h1>


<input type="text" placeholder="enter task name">
<textarea name="textarea" class="textarea"></textarea>
<input type="submit">


</body>
</html>