<!DOCTYPE html>
<html>
<head>
    <title>Resume Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>

    <div class="container">
        <h1>Click To Make Your Resume</h1>

        <form action="/resume" method="GET">
            <button type="submit" class="btn">Start</button>
        </form>

    </div>

</body>
</html>