.div_task{

    background-color: blueviolet;
    border: 2px solid blueviolet;
    height:32px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;

}